<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFERNO</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
       <p>Вы разрабатываете приложение для создания списка покупок. У вас есть массив объектов items, где каждый объект представляет товар с его названием и количеством. Вам необходимо отобразить список товаров, предоставить возможность изменять количество каждого товара и отмечать товары, которые уже куплены.
    </p>
    <ul>
        <li v-for="(item, index) in items" :key="index">
            <input type="number" v-model="item.quantity">
            <input type="checkbox" v-model="item.isBought">
            <span>{{ item.name }}</span>
        </li>
    </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>