<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <div id="app">
        <!-- <new-component title="hello new title"></new-component>
        <new-component title="hello second title"></new-component>
        <new-component :title="article" v-for="article in articles" :key="article.id"></new-component>

        <new-component title="hello counter"></new-component>
        <new-component title="hello new counter">
            <comp></comp>
        </new-component> -->

        <button @click="currentTab = nameButton" v-for="nameButton in nameButtons" :key="nameButton.id">{{ nameButton }}</button>
        <component :is="changeTabs"></component>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="comp.js"></script>
    <script src="script.js"></script>

</body>

</html>