* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.centerInfo {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.top {
  padding-bottom: 60px;
}

.header {
  background: #222222;
  height: 75px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu_left {
  display: flex;
  justify-content: flex-start;
  padding-top: 18px;
  width: 118px;
}

.logo {
  width: 44px;
  margin-right: 41px;
}

.search {
  width: 26px;
  padding-top: 10px;
  cursor: pointer;
}

.menu_right {
  display: flex;
  justify-content: flex-end;
  padding-top: 18px;
  gap: 33px;
}

.three_lines {
  width: 32px;
  cursor: pointer;
}

.user {
  width: 29px;
  cursor: pointer;
}

.basket {
  width: 32px;
  cursor: pointer;
}

.top_info {
  background: #f1e4e6;
}

.top_photo {
  width: 800px;
  display: flex;
  width: 50%;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.content_trend {
  background: #ffffff;
}

.two {
  display: flex;
}

.inside_title {
  padding-left: 16px;
  border-left: #f16d7f solid 12px;
}

.name_1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.name_2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
}

.red {
  color: #f16d7f;
}

.four_blocks {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.inside_All {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  filter: brightness(70%);
  width: 360px;
}

.forall {
  position: absolute;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 154px;
  height: 50px;
}

h2:after {
  content: attr(data-text);
  color: #f16d7f;
  transform: translateX(0%);
  transform: translateY(0%);
  font-size: 18px;
  font-weight: bold;
}

.four_block {
  display: flex;
}

.four_blocks {
  margin-top: 65px;
  margin-bottom: 96px;
}

.products {
  display: flex;
}

.fetured_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fetured {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
  height: 36px;
}

.shop {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  width: 336px;
  height: 17px;
}

.two_items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  width: 52px;
  height: 19px;
  margin-top: 18px;
  margin-bottom: 20px;
  margin-left: 18px;
}

.title_card {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  width: 149px;
  height: 16px;
  margin-top: 24px;
  margin-bottom: 12px;
  margin-left: 18px;
}

.subtitle_card {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  width: 314px;
  height: 51px;
  margin-left: 16px;
  margin-right: 29px;
}

.card_photo {
  width: 360px;
  height: 420px;
}

.card_ph {
  width: 142px;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 108px;
  margin-top: 9px;
  margin-bottom: 11px;
  margin-right: 110px;
}

.card2 {
  background: #f7e4e2;
  width: 360px;
  height: 420px;
}

.button_browse {
  border: 1px solid #ff6a6a;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  padding-top: 14.5px;
  padding-bottom: 13.5px;
  padding-left: 38.5px;
  padding-right: 38.5px;
  background: #ffffff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .two {
    justify-content: center;
  }

  .photo_info {
    width: 386px;
    height: 368px;
  }

  .inside_title {
    height: 78px;
  }

  .name_1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }

  .name_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .four_blocks {
    gap: 19px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .inside_All {
    width: 232px;
  }

  .first_block {
    width: 232px;
  }

  .two_block {
    width: 232px;
  }

  .three_block {
    width: 232px;
  }

  .photo_women {
    width: 232px;
    height: 168px;
  }

  .four_block {
    height: 116px;
  }

  .photo_men {
    width: 232px;
    height: 168px;
  }

  .photo_kids {
    width: 232px;
    height: 168px;
  }

  .long_photo {
    width: 735px;
  }

  .top {
    padding-bottom: 70px;
  }

  .card_items {
    gap: 16px;
    justify-content: center;
  }
}
