<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFERNO</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
       <p>Вы разрабатываете приложение для управления списком контактов. У вас есть форма с полями "Имя", "Фамилия" и "Email", где пользователь может вводить информацию о новом контакте. После добавления контакта он должен отображаться в списке контактов. Требуется связать форму с данными и отображать список контактов на странице.
    </p>
        <input type="text" v-model="name">
        <input type="text" v-model="lastname">
        <input type="email" v-model="email">
        <button @click="addContact()">Добавить контакт</button>
        <ol> 
            <li v-for="({name, lastname, email}, index) in newContact" :key="index">{{ name}} {{lastname}} {{email }}</li>
        </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>